# Ignore everything in versions/
versions/**
*.zip
# But allow the specific files we want to track
!versions/**/test_config.sh
!versions/**/test_results.log
!versions/**/test_config*.sh
!versions/**/test_results*.log
!versions/**/energy_data*.csv
!versions/**/duration_data*.csv
!versions/**/execution_time_data*.csv

# This requires us to not ignore the directories themselves
!versions/
!versions/*/
